<h1>Editing tool</h1>

<% form_for(@tool) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f}   %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tool %> |
<%= link_to 'Back', tools_path %>