<div class="showform">
	
	<H2>Stores and Spares </H2>
	
	<fieldset>
		<legend>Parts Details</legend>
		<table>
			<tr>
		    <td class="leftcol"><%=t ('tools.tool_code') %>:</td>
		    <td><%=h @tool.tool_code %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('tools.name') %>:</td>
		    <td><%=h @tool.name %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('tools.tool_no') %>:</td>
		    <td><%=h @tool.tool_no %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('supplier') %>:</td>
		    <td><%=h @tool.supplier_name(@tool.supplier_id) %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('manufacturer') %>:</td>
		    <td><%=h @tool.supplier_name(@tool.manufacturer_id) %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('price') %>:</td>
		    <td><%=h @tool.price %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('tools.location_id') %>:</td>
		    <td><%=h @tool.location_details %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('tools.notes') %>:</td>
		    <td><%=h @tool.notes %></td>
		  </tr>
		</table>
	</fieldset>
	
	<fieldset>
		<legend>Record Details</legend>  <!--  Just break into logical groups for easy viewing-->
		<table>
			<tr>
		    <td class=leftcol>Last Edit On:</td>
		    <td><%=h l(@tool.updated_at) %></td>
		  </tr>
			<tr>
		    <td class=leftcol>Created On:</td>
		    <td><%=h l(@tool.created_at) %></td>
		  </tr>

		</table>
	</fieldset>
		
</div>


<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>