<div class='formtable'>
	<%= f.hidden_field :parent_id %>
<table>
	<tr>
		<th colspan=2>Edit Equipment</th>
	</tr>
	<tr>
    <td class=leftcol><%= f.label t ('component.component_code') %>:</td>
    <td><%= f.text_field :component_code %></td>
  </tr>
	<tr>
    <td class=leftcol><%= f.label t ('component.name') %>:</td>
    <td><%= f.text_field :name %></td>
  </tr>
	<tr>
    <td class=leftcol><%= f.label t ('component.location_id') %>:</td>
    <td><% f.text_field :location_id %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('component.type_no') %>:</td>
    <td><%= f.text_field :type_no %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('component.serial_no') %>:</td>
    <td><%= f.text_field :serial_no %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('component.installed_on') %>:</td>
    <td> <%= f.date_select :installed_on, :include_blank => :true %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('component.serial_no') %>:</td>
    <td><%= f.text_field :serial_no %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('component.manufacturer_id') %>:</td>
    <td><%= f.collection_select :manufacturer_id, Address.find(:all), :id, :company, :include_blank => true %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('component.supplier_id') %>:</td>
    <td><%= f.collection_select :supplier_id, Address.find(:all), :id, :company, :include_blank => true %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('component.tech_description') %>:</td>
    <td><%= f.text_area :tech_description, :size => '35x6'  %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('component.counter_id') %>:</td>
    <td><% f.text_field :counter_id %></td>
  </tr>
</table>


	<table>
		<tr>
			<th colspan=5>Parts  </th>
		</tr>
	</table>
		<% f.fields_for :compparts do |builder| %>
		<%= render 'comppart_fields', :f => builder %>
    
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Parts'), f, :compparts %></p>


<p>
  <% f.label :unit_id %><br />
  <% f.text_field :unit_id %>
</p>
<p>
  <% f.label :created_by %><br />
  <% f.text_field :created_by %>
</p>
</div>