<script type="text/javascript">
	$(document).ready(function()  {
  		$("#tree").treeTable();
	});
</script>


<div class="box">
	<div class="box-head">
		<h2 class="left">Equipment</h2>
		<div class="right">
			<p>treeview</p>
		</div>
	</div>
</div>

<div class="indextree">
<table id="tree">
	<thead>
  <tr>
    <th>Equipment & Name </th>
    <th>Location</th>
    <th>Type no</th>
    <th>Serial no</th>
    <th>Installed on</th>
    <th colspan=5>Control</th>
  </tr>
	</thead>

	<tbody>
	<% @components.each do |component| %>
	  <tr id="node-<%= (component.id) %>" <%= component.tree_gelas %>>
	    <td>|_ &nbsp;  <%=h component.component_code %> - <%=h component.name %> </td>
	    <td><%=h component.location_id %></td>
	    <td><%=h component.type_no %></td>
	    <td><%=h component.serial_no %></td>
	    <td><%=h component.installed_on %></td>
			<td width=10px><%= link_to image_tag("brick_add.png", :border => 0, :title => 'Add Subcomponent'), new_component_path(:parent_id => component) %></td>
	  	<td width=10px><%= link_to image_tag("page_white_wrench.png", :border => 0, :title => 'Add Maintenance'), new_maintenance_path(:component_id => component)%></td>
			<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => component %></td>
    	<td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => component %></td>
    	<td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), component, :confirm => 'Are you sure?', :method => :delete %>
  	</tr>
	<% end %>
	</tbody>
</table>

<br />
<%= link_to "See List View", components_path %> | 
<% permitted_to? :manage, :components do %>
<%= link_to 'New Root Component', new_component_path %>
<% end %>

<br><br>

</div>