<div class="box">
	<div class="box-head">
		<h2 class="left">Equipment</h2>
		<div class="right">
			<% form_tag components_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil %>
			<% end %>
		</div>
	</div>
</div>

<div class="indexlist">
<table>
  <tr>
    <th><% link_to image_tag("add.png", :border => 0, :title => 'Create'), new_component_path %> Equipment </th>
    <th>Name</th>
    <th>Location</th>
    <th>Type no</th>
    <th>Serial no</th>
    <th>Installed on</th>
    <th colspan=5>Control</th>
  </tr>

	<% @components.each do |component| %>
	  <tr>
	    <td><%=h component.component_code %>  </td>
	    <td><%=h component.name %></td>
	    <td><%=h component.location_id %></td>
	    <td><%=h component.type_no %></td>
	    <td><%=h component.serial_no %></td>
	    <td><%=h component.installed_on %></td>
		  <td width=10px><%= link_to image_tag("brick_add.png", :border => 0, :title => 'Add Subcomponent'), new_component_path(:parent_id => component) %></td>
		  <td width=10px><%= link_to image_tag("page_white_wrench.png", :border => 0, :title => 'Add Planned Maintenance'), new_maintenance_path(:component_id => component)%></td>
		  <td width=10px><%= link_to image_tag("wrench_orange.png", :border => 0, :title => 'Add Unplanned Maintenance'), :controller => "maintenances", :action => "newunplan", :component_id => component %></td>
		<td width=10px><%= link_to image_tag("counter.png", :border => 0, :title => 'Add Running Hour'), new_counter_path(:component_id => component)%></td>
		<td width=10px><%= link_to image_tag("hourglass.png", :border => 0, :title => 'Counter History'), :controller => "counters", :action => "index", :component_id => component %></td>
			<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => component %></td>
	    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => component %></td>
	    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), component, :confirm => 'Are you sure?', :method => :delete %>
	  </tr>
<% end %>
</table>

<br />

<%= link_to "See Tree View", indextree_components_path %> | 
<% permitted_to? :manage, :components do %>
<%= link_to 'New Root Component', new_component_path %>
<% end %>
<br>
</div>

