<h1>New planworkhour</h1>

<% form_for(@planworkhour) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :maintreport_id %><br />
    <%= f.text_field :maintreport_id %>
  </p>
  <p>
    <%= f.label :maintgroup_id %><br />
    <%= f.text_field :maintgroup_id %>
  </p>
  <p>
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </p>
  <p>
    <%= f.label :updated_by %><br />
    <%= f.text_field :updated_by %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', planworkhours_path %>