<% form_for(@maintgroup) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f}   %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @maintgroup %> |
<%= link_to 'Back', maintgroups_path %>