<div class="box">
	<div class="box-head">
		<h2 class="left"><%=t ('maintgroups.frequency') %></h2>
		<div class="right">
		</div>
	</div>
</div>

<div class="indexlist">
<% link_to 'Create New role', new_maintenance_path %>
<table>
  <tr>
    <th><%= link_to image_tag("add.png", :border => 0, :title => 'Create'), new_maintenance_path %> Maintenance</th>
    <th>Description</th>
    <th>Frequency</th>
    <th>Frequency unit</th>
    <th>Level</th>
    <th>Action group</th>
    <th>First date</th>
    <th>Priority</th>
    <th colspan=3>Control</th>
  </tr>





<h1>Listing maintgroups</h1>

<table>
  <tr>
    <th>Short name</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Rate</th>
  </tr>

<% @maintgroups.each do |maintgroup| %>
  <tr>
    <td><%=h maintgroup.short_name %></td>
    <td><%=h maintgroup.name %></td>
    <td><%=h maintgroup.quantity %></td>
    <td><%=h maintgroup.rate %></td>
    <td><%= link_to 'Show', maintgroup %></td>
    <td><%= link_to 'Edit', edit_maintgroup_path(maintgroup) %></td>
    <td><%= link_to 'Destroy', maintgroup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New maintgroup', new_maintgroup_path %>