<div class="box">
	<div class="box-head">
		<h2 class="left">Maintenance Groups</h2>
		<div class="right">
		</div>
	</div>
</div>

<div class="indexlist">
<table>
  <tr>
    <th>Short name</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Rate</th>
  </tr>

<% @maintgroups.each do |maintgroup| %>
  <tr>
    <td><%=h maintgroup.short_name %></td>
    <td><%=h maintgroup.name %></td>
    <td><%=h maintgroup.quantity %></td>
    <td><%=h maintgroup.rate %></td>
    <td><%= link_to 'Show', maintgroup %></td>
    <td><%= link_to 'Edit', edit_maintgroup_path(maintgroup) %></td>
    <td><%= link_to 'Destroy', maintgroup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New maintgroup', new_maintgroup_path %>