<div class="box">
	<div class="box-head">
		<h2 class="left">Maintenance Groups</h2>
		<div class="right">
		</div>
	</div>
</div>

<div class="indexlist">
<table>
  <tr>
    <th>Short name</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Rate</th>
		<th colspan=3>Control</th>
  </tr>

<% @maintgroups.each do |maintgroup| %>
  <tr>
    <td><%=h maintgroup.short_name %></td>
    <td><%=h maintgroup.name %></td>
    <td><%=h maintgroup.quantity %></td>
    <td><%=h maintgroup.rate %></td>
		<td width=10px><%= link_to image_tag("document.png", :border => 0, :title => 'Show'), :action => 'show', :id => maintgroup %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), :action => 'edit', :id => maintgroup %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), maintgroup, :confirm => 'Are you sure?', :method => :delete %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New maintgroup', new_maintgroup_path %>