<table>
  <tr>
    <td class=leftcol><%= f.label t ('documents.doc_code') %>:</td>
    <td><%= f.text_field :doc_code %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('documents.title') %>:</td>
    <td><%= f.text_field :title, :size => 75 %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('documents.publisher') %>:</td>
    <td><%= f.text_field :publisher %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('documents.file') %>:</td>
    <td><%= f.file_field :file %></td>
  </tr>
</table>