<div class='webform'>
	<%= f.hidden_field :component_id %>
<H2>Edit <%= t ('maintenance.maint') %></H2>
<table width=80%>
  <tr>
    <td class=leftcol><%= f.label t ('maintenance.component_id') %>:</td>
    <td><%=h @maintenance.component.component_code %>&nbsp; &nbsp;<%=h @maintenance.component.name %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('maintenance.code') %>:</td>
    <td><%= f.text_field :code, :size => 15 %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('maintenance.description') %>:</td>
    <td><%= f.text_field :description, :size => 100  %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('maintenance.frequency') %>:</td>
    <td><%= f.select :frequency, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12], @maintenance.frequency) %>
				<%= f.select :frequency_unit, 
				                 Maintenance::FREQ_UNIT,
				                 :prompt => "Select"  %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('maintenance.level') %>:</td>
    <td><%= f.select :level, 
		                 Maintenance::MAINT_LEVEL,
		                 :prompt => "Select"  %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('maintenance.action_group_id') %>:</td>
		<td><%= f.collection_select :action_group_id, Maintgroup.find(:all), :id, :short_name %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('maintenance.first_date') %>:</td>
    <td><%= f.date_select :first_date, :include_blank => :true %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('maintenance.next_date') %>:</td>
    <td><%= h @maintenance.next_date %></td>
  </tr>
  <tr>
    <td class=leftcol><%= f.label t ('maintenance.priority') %>:</td>
    <td><%= f.select :priority, options_for_select([1,2,3,4,5], @maintenance.priority) %></td>
  </tr>
</table>
<H3>Parts</H3>
		<% f.fields_for :maintparts do |builder| %>
			<%= render 'maintpart_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Parts'), f, :maintparts %></p>
		
<H3>Tools</H3>
		<% f.fields_for :mainttools do |builder| %>
			<%= render 'mainttool_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Tools'), f, :mainttools %></p>

<H3>Man Hour Types & Groups</H3>
		<% f.fields_for :mainthours do |builder| %>
			<%= render 'mainthour_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add Tools'), f, :mainthours %></p>	
</div>

