<h1>Editing maintreport</h1>

<% form_for(@maintreport) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :done_date %><br />
    <%= f.date_select :done_date %>
  </p>
  <p>
    <%= f.label :add_notes %><br />
    <%= f.text_area :add_notes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @maintreport %> |
<%= link_to 'Back', maintreports_path %>