<% form_for(@maintreport) do |f| %>
  <%= f.error_messages %>
<%= f.hidden_field :maintenance_id, :value => @maintreport.maintenance_id %>
<%= f.hidden_field :last_maintenance_hour, :value => @maintenance.current_hours(@maintreport.maintenance.component_id) %>
<%= render :partial => 'form', :locals => {:f => f}   %>
  <p>
    <%= f.submit 'Update', :name => 'plan' %>
  </p>
<% end %>
