<div class="showform">
	
	<H2>Supplier and Manufacturer </H2>
	
	<fieldset>
		<legend>Details</legend>
		<table>
			<tr>
		    <td class="leftcol"><%=t ('addresses.company') %>:</td>
		    <td><%=h @address.company %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('addresses.phone') %>:</td>
		    <td><%=h @address.phone %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('addresses.fax') %>:</td>
		    <td><%=h @address.fax %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('addresses.address') %>:</td>
		    <td><%=h @address.address %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('addresses.email') %>:</td>
		    <td><%=h @address.email %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('addresses.web') %>:</td>
		    <td><%=h @address.web %></td>
		  </tr>
			<tr>
		    <td class=leftcol><%=t ('addresses.notes') %>:</td>
		    <td><%=h @address.notes %></td>
		  </tr>
		</table>
	</fieldset>
	
	<fieldset>
		<legend>Record Details</legend>  <!--  Just break into logical groups for easy viewing-->
		<table>
			<tr>
		    <td class=leftcol>Last Edit On:</td>
		    <td><%=h l(@address.updated_at) %></td>
		  </tr>
			<tr>
		    <td class=leftcol>Created On:</td>
		    <td><%=h l(@address.created_at) %></td>
		  </tr>

		</table>
	</fieldset>
		
</div>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>